<nav class="h-full">
  <!-- Menu responsivo -->
  <div class="h-full">
    <!-- Abertura do modal de menu -->
    <button
      (click)="openModal()"
      class="relative z-50 md:hidden"
      [ngClass]="{ hidden: isOpen }"
    >
      <i class="pi pi-bars" style="font-size: 1.5rem; color: #5a189a"></i>
    </button>

    <!-- Fechamento do modal -->
    <button
      (click)="openModal()"
      class="relative z-50 md:hidden"
      [ngClass]="isOpen ? 'block' : 'hidden'"
    >
      <i class="pi pi-times" style="font-size: 1.5rem; color: #5a189a"></i>
    </button>

    <!-- Menu -->
    <ul
      class="menu-list overflow-y-auto flex flex-col md:flex-row justify-start pt-[50px] md:pt-0 bg-[#F3E6FF] fixed md:relative left-0 top-[-100%] md:inset-0 h-full w-full px-[24px] z-10 opacity-0 md:opacity-100 pointer-events-none md:pointer-events-auto transition-all duration-500 ease-in-out"
      [ngClass]="{ active: isOpen }"
    >
      <li class="hover-list py-5">
        <a routerLink="" class="text-[#5A189A] font-semibold text-[18px]">
          Home
        </a>
      </li>
      <li class="hover-list py-5">
        <a
          routerLink=""
          class="text-[#5A189A] font-semibold text-[18px] flex items-center justify-between"
        >
          Para você
          <button class="mt-5">
            <i
              class="pi pi-angle-right"
              style="font-size: 1.5rem; color: #5a189a"
            ></i>
          </button>
        </a>
      </li>
      <li class="hover-list py-5 flex items-center justify-between">
        <a
          routerLink="para-empresa"
          class="text-[#5A189A] font-semibold text-[18px]"
        >
          Para Empresas
        </a>
      </li>
      <li class="hover-list py-5">
        <a
          routerLink=""
          class="text-[#5A189A] font-semibold text-[18px] flex items-center justify-between"
        >
          Sobre nós
          <button class="mt-5">
            <i
              class="pi pi-angle-right"
              style="font-size: 1.5rem; color: #5a189a"
            ></i>
          </button>
        </a>
      </li>
      <li class="hover-list py-5">
        <a routerLink="" class="text-[#5A189A] font-semibold text-[18px]">
          Ajuda
        </a>
      </li>
      <li class="hover-list py-5">
        <a routerLink="" class="text-[#5A189A] font-semibold text-[18px]">
          Atendimento
        </a>
      </li>
      <li class="hover-list py-5">
        <a routerLink="" class="text-[#5A189A] font-semibold text-[18px]">
          Área do cliente
        </a>
      </li>

      <button
        class="bg-[#5A189A] text-white text-[18px] font-semibold border-none p-2 w-full rounded-md transition-all duration-300 ease-in-out"
      >
        Assine já
      </button>
      <app-social-media></app-social-media>
    </ul>
  </div>
</nav>
