<footer class="py-2 px-4 md:px-8 lg:px-16 bg-[#5a189a] hidden">
  <div>
    <ul class="md:flex items-center justify-between md:w-[80%]">
      @for(item of menuOptions; track $index){
      <li class="hover-list py-8 flex items-center justify-center">
        <a
          routerLink="{{ item.link }}"
          class="hover-options text-[#F3E6FF] font-semibold text-[18px]"
        >
          {{ item.name }}
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="text-white">
    <p>Nos siga nas redes sociais:</p>
    <div class="flex items-center gap-5 my-2">
      <a
        href="https://www.facebook.com/PortalEntre/?locale=pt_BR"
        target="_blank"
      >
        <i class="pi pi-facebook" style="font-size: 1.2rem"></i
      ></a>
      <a href="https://www.instagram.com/portal.entre/" target="_blank"
        ><i class="pi pi-instagram" style="font-size: 1.2rem"></i
      ></a>
      <a
        href="https://www.linkedin.com/company/entre-internetpremium/"
        target="_blank"
      >
        <i class="pi pi-linkedin" style="font-size: 1.2rem"></i
      ></a>
    </div>
  </div>
  <p class="text-white text-center">
    Copyright 2025 © - Portal Entre - Todos os direitos reservados
  </p>
</footer>
