<!-- Carousel Home -->
<div class="carousel">
  <div class="list">
    <div class="item">
      <img src="assets/bg-1.jpg" alt="image friends" />
      <div class="content">
        <div class="title text-[#FFAA3B]">Campanha Indique e Ganhe!</div>
        <div class="desc">
          Cliente Entre, indique seus amigos e ganhe descontos!
        </div>
        <div class="buttons">
          <button>Saiba mais!</button>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg-2.jpg" alt="image friends" />
      <div class="content">
        <div class="title">Baixa latência e zero perda de dados!</div>
        <div class="desc">A melhor internet para os games*!</div>
        <div class="buttons">
          <app-button-assine></app-button-assine>
        </div>
        <div class="info">
          *Segundo a premiação "melhor internet game" do melhorplano.net de 2024
          em Casimiro de Abreu.
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg-3.jpg" alt="image friends" />
      <div class="content">
        <div class="title">Melhor conteudo via streaming!</div>
        <div class="desc">Filmes, series, canais ao vivo e muito mais!</div>
        <div class="buttons">
          <app-button-assine></app-button-assine>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg-4.jpg" alt="image friends" />
      <div class="content">
        <div class="title">Muito mais velocidade!</div>
        <div class="desc">A Internet Premium que pega bem na casa toda!</div>
        <div class="buttons w-1/2">
          <app-button-assine></app-button-assine>
        </div>
        <div class="info">
          *Segundo a premiação "melhor internet game" do melhorplano.net de 2024
          em Casimiro de Abreu.
        </div>
      </div>
    </div>
  </div>
  <!-- thumbnail -->
  <div class="thumbnail">
    <div class="item">
      <img src="assets/bg-1.jpg" />
      <div class="content">
        <div class="title text-[#FFAA3B]">Campanha Indique e Ganhe!</div>
        <div class="desc">Description</div>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg-2.jpg" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="desc">Description</div>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg-3.jpg" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="desc">Description</div>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg-4.jpg" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="desc">Description</div>
      </div>
    </div>
  </div>
  <!-- arrows -->
  <div class="arrows">
    <button id="prev"><</button>
    <button id="next" (click)="showSlider()">></button>
  </div>
  <div class="time"></div>
</div>
