<div class="pt-[75px]">
  <section>slides</section>
  <!-- Seção de cards -->
  <section class="cards bg-[#5a189a] px-2 py-5">
    <div class="mx-4 bg-[#F3E6FF] p-5 rounded-lg">
      <h2 class="text-3xl font-semibold text-[#5a189a] mb-5">
        O que nós oferecemos?
      </h2>
      <div class="bg-white p-5 rounded-lg shadow-md">
        <h3 class="text-2xl font-semibold text-[#5a189a] text-center pb-2">
          Internet Premium
        </h3>
        <hr />
        <div class="flex flex-col items-center gap-4 py-2">
          <img
            src="assets/speed-icon.svg"
            class="h-[100px] w-[100px] object-contain mix-blend-hard-light"
          />
          <span>Ultravelocidade</span>
          <p class="text-center">
            Tenha conexões muito mais rápidas e velocidade impressionante para
            baixar conteúdos em poucos segundos. ideal para todos os usos.
          </p>
        </div>
        <hr />
        <div class="flex flex-col items-center gap-4 py-2">
          <img
            src="assets/timer-icon.svg"
            class="h-[100px] w-[100px] object-contain mix-blend-hard-light"
          />
          <span>Baixa latência</span>
          <p class="text-center">
            Possua comunicação em tempo real e praticamente sem atrasos,
            possibilitando respostas muito mais rápidas.
          </p>
        </div>
        <hr />
        <div class="py-2">
          <button
            class="bg-[#5A189A] text-white text-[18px] font-semibold border-none p-2 w-full rounded-md transition-all duration-300 ease-in-out"
          >
            Saiba mais
          </button>
        </div>
      </div>
      <div class="bg-white p-5 rounded-lg mt-2 shadow-md">
        <h3 class="text-2xl font-semibold text-[#5a189a] text-center pb-2">
          Streaming
        </h3>
        <hr />
        <div class="flex flex-col items-center gap-4 py-2">
          <img
            src="assets/movies-icon.svg"
            class="h-[100px] w-[100px] object-contain mix-blend-hard-light"
          />

          <p class="text-center">
            Assista filmes, séries, canais ao vivo e muito mais.
          </p>
        </div>
        <hr />
        <div class="py-2">
          <button
            class="bg-[#5A189A] text-white text-[18px] font-semibold border-none p-2 w-full rounded-md transition-all duration-300 ease-in-out"
          >
            Saiba mais
          </button>
        </div>
      </div>
    </div>
  </section>
  <section>tudo que precisa</section>
  <section>testimonial</section>
  <section>combos</section>
</div>
