<div class="p-5">
  <p class="text-secondary text-2xl font-bold leading-6">Monte seu combo!</p>
  <div #cards class="cards bg-white p-5 rounded-lg">
    <div class="card flex flex-col items-center gap-5">
      <div>
        <p class="text-primary text-2xl font-bold uppercase leading-6">
          Internet Premium
        </p>
        <p class="mb-2 text-xs font-normal text-primary">100% fibra óptica</p>
        <div
          data-orientattion="horizontal"
          role="none"
          class="h-[0.18rem] w-[2.6rem] rounded-full bg-secondary"
        ></div>
      </div>
      <div class="relative mt-2">
        <svg
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-[45%] top-[-0.7rem] size-5 text-orange-500"
        >
          <rect
            x="11.9131"
            y="25.3864"
            width="24.5178"
            height="2.28073"
            rx="1.14036"
            transform="rotate(-90 11.9131 25.3864)"
            fill="currentColor"
          ></rect>
          <rect
            x="0.509766"
            y="12.272"
            width="24.5178"
            height="2.28073"
            rx="1.14036"
            fill="currentColor"
          ></rect>
        </svg>
        <div class="my-5">
          <span class="text-primary text-2xl font-bold uppercase leading-6"
            >Cine&Sport</span
          >
          <svg-icon src="assets/max_card.svg"></svg-icon>
        </div>
      </div>
      <div>
        <p class="text-base font-semibold">
          R$
          <strong class="ml-1 text-[2rem] font-semibold text-primary"
            >99,9</strong
          >
          /mês
        </p>
      </div>
    </div>
  </div>
</div>
