<div>
  <div class="carousel">
    <div class="list">
      <div class="item">
        <picture>
          <source srcset="assets/bg-1-mobile.png" media="(max-width: 768px)" />
          <img src="assets/bg-1.jpg" alt="image friends" />
        </picture>
        <div class="content"></div>
      </div>
      <div class="item">
        <picture>
          <source srcset="assets/bg-2-mobile.png" media="(max-width: 768px)" />
          <img src="assets/bg-2.jpg" alt="image friends" />
        </picture>
        <div class="content"></div>
      </div>
    </div>
    <div class="buttons">
      <button class="prev"><</button>
      <button class="next">></button>
    </div>
  </div>
</div>
