<div class="cards mx-4 md:mx-8 lg:mx-16 p-5 rounded-lg">
  <h2 class="text-3xl font-semibold text-[#FFAA3B] mb-5">
    O que nós oferecemos?
  </h2>
  <div class="md:flex justify-center gap-5">
    <div
      id="premium-card"
      class="bg-white p-5 mb-5 md:mb-0 rounded-lg shadow-md"
    >
      <h3 class="text-2xl font-semibold text-[#5a189a] text-center pb-2">
        Internet Premium
      </h3>
      <hr class="col-span-full" />
      <div class="flex flex-col items-center gap-4 py-2">
        <svg-icon
          src="assets/speed-icon.svg"
          [svgStyle]="{
            'width.px': 90,
            'height.px': 90
          }"
          name="speed svg-icon"
        ></svg-icon>
        <span class="text-[#FFAA3B]">Ultravelocidade</span>
        <p class="text-center">
          Tenha conexões muito mais rápidas e velocidade impressionante para
          baixar conteúdos em poucos segundos. ideal para todos os usos.
        </p>
      </div>
      <hr class="md:hidden" />
      <div class="flex flex-col items-center gap-4 py-2">
        <svg-icon
          src="assets/timer-icon.svg"
          [svgStyle]="{
            'width.px': 90,
            'height.px': 90
          }"
          name="timer svg-icon"
          id="timer-icon"
        ></svg-icon>
        <span class="text-[#FFAA3B]">Baixa latência</span>
        <p class="text-center">
          Possua comunicação em tempo real e praticamente sem atrasos,
          possibilitando respostas muito mais rápidas.
        </p>
      </div>
      <hr class="md:hidden" />
      <div class="py-2 col-span-full">
        <button
          class="bg-[#5A189A] flex items-center justify-center gap-5 text-white text-[18px] font-semibold border-none p-2 w-full rounded-md transition-all duration-300 ease-in-out"
        >
          <i class="pi pi-wifi" style="font-size: 1rem"></i>
          Saiba mais
        </button>
      </div>
    </div>
    <div
      class="bg-white p-5 rounded-lg mt-2 md:mt-0 shadow-md md:flex flex-col items-center justify-between"
    >
      <h3 class="text-2xl font-semibold text-[#5a189a] text-center pb-2">
        Streaming
      </h3>
      <hr />
      <div class="flex flex-col items-center gap-4 py-2">
        <svg-icon
          src="assets/movies-icon.svg"
          [svgStyle]="{
            'width.px': 90,
            'height.px': 90
          }"
          name="icon Streaming"
          id="streaming-icon"
        ></svg-icon>
        <p class="text-center">
          Assista filmes, séries, canais ao vivo e muito mais.
        </p>
      </div>
      <hr />
      <div class="py-2 self-stretch">
        <button
          class="bg-[#5A189A] flex items-center justify-center gap-5 text-white text-[18px] font-semibold border-none p-2 w-full rounded-md transition-all duration-300 ease-in-out"
        >
          <i class="pi pi-desktop" style="font-size: 1rem"></i>
          Saiba mais
        </button>
      </div>
    </div>
  </div>
</div>
