<div class="flex items-center justify-center gap-5 mt-5">
  <a href="https://www.facebook.com/PortalEntre/?locale=pt_BR" target="_blank">
    <i class="pi pi-facebook" style="font-size: 1.2rem; color: #5a189a"></i
  ></a>
  <a href="https://www.instagram.com/portal.entre/" target="_blank"
    ><i class="pi pi-instagram" style="font-size: 1.2rem; color: #5a189a"></i
  ></a>
  <a
    href="https://www.linkedin.com/company/entre-internetpremium/"
    target="_blank"
  >
    <i class="pi pi-linkedin" style="font-size: 1.2rem; color: #5a189a"></i
  ></a>
</div>
